<div align="center">
  <div style="width:60%" class="panel panel-info">
    <div class="panel-heading" align="left">Production</div>
    <div class="panel-body" align="left">Add content here</div>
  </div>
  <div style="width:60%" class="panel panel-info">
      <div class="panel-heading" align="left">Test</div>
      <div class="panel-body" align="left">Add content here</div>
  </div>
  <div style="width:60%" class="panel panel-info">
      <div class="panel-heading" align="left">Development</div>
      <div class="panel-body" align="left">Add content here</div>
  </div>
</div>